/*variables*/

$font-logo: 'Pacifico', cursive;
$font-text: 'Ubuntu', sans-serif;

$font-color:  rgb(112, 112, 112);
$project-color: goldenrod;

/*Global*/
body {
    margin: 0; 
    
}
.container {
    max-width: 1140px;     
    padding: 0px 20px;
    margin: 0px auto;         
}

header {
    //background-color:black;
}

.titles {
    text-align: center;
    font-family: $font-text; 
}

.section-title {
    font-size: 50px;
    font-weight: bold;
    padding: 50px 0 0 0;
    margin: 80px 0 0 0;
}

.section-subtitle {
    font-style: oblique;
    color: $font-color;
    margin: 20px 0 100px 0;
}

.col-sm {
    text-align: center;
}

.box-title {
    font-family: $font-text;
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.box-subtitle {
    color: $font-color ;
    font-size:18px;
}

/*navigation*/

.navigation {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    margin: 10px 250px;
    font-family: $font-text;
}

.navigation ul{
    flex-direction: row;
    list-style-type: none;
    margin-left: 700px;
    font-weight: bold;
}

.navigation li a {
    text-decoration: none;
    margin: 20px ;
    position: relative;
    font-size: 15px;
    color: white;

}
.navigation li {
    text-align: center;
    display: inline-block;
    position: relative; 
}
.logo a {
    text-decoration: none;
    margin-top: -15px;
    position: absolute;
    font-size: 40px;
    font-family: $font-logo;
    color: $project-color;
    
}

/*splash*/

.splash {
    height : 100vh;
    
}

img {
    width: 100%;
    height: 100%;
    
}

.splash-inner {
    position : absolute ;
    width : 100% ;
    top : 50% ;
    left : 50% ;
    transform : translate(-50%,-50%) ; 
    text-align: center;
    color:white;
    font-size: 40px;
    font-family: $font-text;
    font-size: 60px;
    
}

.btn {
    text-decoration: none;
    color: white; 
    font-size: 22px;
    background-color: $project-color;
    padding: 30px 40px; 
    border-radius: 10px;
    font-weight: bold;
}

.title {
    font-style: oblique;
    font-size: 60px;
}

/*services*/
.services {
    padding: 40px 0 100px 0;
}
.icon {
    padding: 10px 10px;
    
}

i {
    border: solid $project-color;
    padding: 20px 20px;
    border-radius: 50%;
    color: $project-color; 
    font-size: 50px;
    position: relative;
}